<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Admin Page</title>
    <meta charset="utf-8">

        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/theme.css">

        <!--Aos Animation-->
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

	    <!--Aos JS-->
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    </head>

<!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
            <a class="navbar-brand" href="index.html"><img id="logoimg" src="logoblack.png"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Catestrophe
              </a>
              <div  class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="internal.html"><span id="year1990">Most Recent</span></a>
                <a class="dropdown-item" href="##"><span id="year1995">Past 10 Days</span></a>
                <a class="dropdown-item" href="##"><span id="year2000">Past 30 Days</span></a>
              </div>
            </li>
                <li class="nav-item">
                  <a class="nav-link" href="index.html#contributesec"><span id="contribute">Contribute</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="works.html"><span id="howworks">How it works</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login.html">Login/Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
	<script>
  AOS.init();
</script>
        <body>
            <div class="container" style="margin:auto;">
                <div class="col-sm-12">
                <div class="row">
                    <div id="content">
                    <form action="##" method="POST">
                        <input type="text" placeholder="Enter Scrap Keywords" name="q">
                    </form>
                    
                        <hr>
                        <p id="answer">
                            <button type="button" class="btn btn-primary">Scrap</button>
                            <button type="button" class="btn btn-success">Clean</button>
                            <button type="button" class="btn btn-info">Translate & Load</button>
                            <button type="button" class="btn btn-warning">Analyze</button>
                    </div>
                </div>

               
            </div>
            </div>
            <br/><br/>
            <footer id="footerdiv" style="margin-top:30%;">
                <p class="m-0 text-center text-black" style="color:black;">Designed & Developed by team <span style="color:red;">Chmod 777</span></p>
            </footer>
            <br/>
        </body>
        <script>
        post_to_url('##', {'q'});
        </script>

                    
        </html>